<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<insert id="add">
		insert into rent_board values(#{type},rent_board_seq.nextval,#{title},#{writer},#{name},sysdate,0,#{contents})
	</insert>
	<select id="readOne" resultType="hashMap">
		select * from rent_board where no=#{no}
	</select>
	<select id="readAll" resultType="hashMap">
		select * from rent_board left join (select cno, count(*) as cnt from rent_comments group by cno) tmp on rent_board.no=tmp.cno where type=#{type} and (title like #{key} or contents like #{key} or name like #{key}) order by no desc
	</select>
	<delete id="delete">
		delete from rent_board where no=#{no}
	</delete>
	<update id="hitUp">
		update rent_board set hit=#{HIT} where no=#{NO}
	</update>
	<update id="modify">
		update rent_board set title=#{title},contents=#{contents} where no=#{no}
	</update>

</mapper>