<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="car">
	<select id="readAllCar" resultType="hashMap">
		select * from rent_car
	</select>
	<select id="readOne" resultType="hashMap">
		select * from rent_car where no=#{no}
	</select>
	<select id="readByType" resultType="hashMap">
		select * from rent_car where type=#{type}
	</select>
	<delete id="delete">
		delete from rent_car where no=#{no}
	</delete>
</mapper>